.offcanvas {
   max-width: 50% !important;
}

.h-full {
   height: 100vh;
}

.truncate-after {
   -webkit-line-clamp: 3;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}