.offcanvas {
   max-width: 50% !important;
}

.h-full {
   height: 100vh;
}

.truncate-after {
   -webkit-line-clamp: 3;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.input-field {
   height: 600px
}

#pinnedNotes, #otherNotes {
   min-height: 5px;
}

.fs-7 {
   font-size: 0.8rem !important;
}

.fs-8 {
   font-size: 0.6rem !important;
}